.formulario {
  height: 100%;
  width: 100%;
  background-color: transparent;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  padding: 1.2rem;
  border-radius: 1rem;
}
.TituloTarefa{
  background: transparent;
  border: none;
  border-bottom: 0.1rem solid #8FE00D;
  color: #ddd;
}

.StatusTarefa{
  background: transparent;
  border: none;
  border-bottom: 0.1rem solid #8FE00D;
  color: #ddd;
}
.custom-date-input {
  border: none;
  border-bottom: 1px solid #8FE00D;
  padding: 9px;
  color: #8FE00D;
  background-color: transparent;
}

.UrgenciaTarefa {
  border: none;
  background: none;
  color: #8FE00D;
}
.DescricaoTarefa{
  background: transparent;
  border: none;
  border-bottom: 0.1rem solid #8FE00D;
  color: #ddd;
}
.cadastra-tarefa {
  /* background: linear-gradient(to right, #8FE00D, #04F8C7); */
  background: #8FE00D;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  color: #ddd;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 0 5rem 1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* .custom-date-input:focus {
  outline: none;
  border-color: #2196f3;
  box-shadow: 0 0 5px rgba(33, 150, 243, 0.5);
} */