.formulario{
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    padding: 1.2rem;
}

.custom-date-input {
  border: none;
  border-bottom: 1px solid #ffffff;
  padding: 5px;
  font-size: 16px;
  color: #f5f5f5;
  background-color: transparent;
}

.UrgenciaTarefa{
    border: none;
    background-color: transparent;
    color: #ffffff;
}


/* .custom-date-input:focus {
  outline: none;
  border-color: #2196f3;
  box-shadow: 0 0 5px rgba(33, 150, 243, 0.5);
} */
