.tarefas-cabecalho {
    height: clamp(3rem, 4cqi, 5rem);
    width: 100%;
    padding: 2rem 0 2rem 0;
    background-color: transparent;
    display: inline-flex;
    background-color: transparent;
}

.titulo-tarefa-cabecalho {
    height: 100%;
    width: 15%;
    font-size: 1.2rem;
    color: aliceblue;
    display: flex;
    justify-content: center;
    margin-right: 1rem;
}

.descricao-tarefa-cabecalho {
    height: 100%;
    width: 40%;
    font-size: 1.2rem;
    color: aliceblue;
    display: flex;
    justify-content: center;
    margin-right: 1rem;
}

.status-tarefa-cabecalho {
    height: 100%;
    width: 20%;
    font-size: 1.2rem;
    color: aliceblue;
    display: flex;
    justify-content: center;
    margin-right: 1rem;
}

.urgencia-tarefa-cabecalho {
    height: 100%;
    width: 15%;
    font-size: 1.2rem;
    color: aliceblue;
    display: flex;
    justify-content: center;
    margin-right: 1rem;
}

.diasRestantes-tarefa-cabecalho {
    height: 100%;
    width: 10%;
    font-size: 1.2rem;
    color: aliceblue;
    display: flex;
    justify-content: center;
    margin-right: 1rem;
}

.opcoes-cabecalho {
    height: 100%;
    width: 5%;
    font-size: 1.2rem;
    color: aliceblue;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
}

.linhaTarefa {
    display: flex;                 
    align-items: center;
    width: 100%;
    padding: 1rem 0.5rem;
    border-bottom: 0.1rem solid #ddd;
    background-color: transparent;
    box-sizing: border-box;
}

.linhaTarefa > div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.titulo-tarefa-lista {
    width: 15%;
    color: aliceblue;
    font-size: 1.2rem;
    padding: 0 0.5rem;
}

.descricao-tarefa-lista {
    width: 40%;
    color: aliceblue;
    font-size: 1.2rem;
    padding: 0 0.5rem;
}

.status-tarefa-lista {
    width: 20%;
    color: aliceblue;
    font-size: 1.2rem;
    padding: 0 0.5rem;
}

.urgencia-tarefa-lista {
    width: 15%;
    color: aliceblue;
    font-size: 1.2rem;
    padding: 0 0.5rem;
}

.diasRestantes-tarefa-lista {
    width: 10%;
    color: aliceblue;
    font-size: 1.2rem;
    padding: 0 0.5rem;
}

.opcoes {
    width: 5%;
    text-align: center;
    cursor: pointer;
}

.semtarefa{
    color: #e20e0e;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
}