.ToDo {
    height: 100%;
    width: 100%;
    background-color: #424242;
    display: flex;
    flex-direction: column;
}

.cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.titulo {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3.5rem;
    font-weight: 100;
    color: #ddd;
    display: flex;
    align-items: center;
    letter-spacing: 0.1rem;
}

.logout {
    position: absolute;
    justify-content: end;
    right: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
    font-weight: 100;
    color: #ddd;
    display: flex;
    align-items: center;
}

.superior {
    background-color: transparent;
    height: 35%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.superior-cadastro {
    height: 100%;
    width: 60%;
    border: 0.3rem solid #8FE00D;
    margin: 0 1rem 0 2rem;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
}

.titulo-tarefa {
    background-color: #ddd;
    display: flex;
    justify-content: center;
    border-radius: 1rem 1rem 0 0;
}

.superior-insight {
    height: 100%;
    width: 40%;
    border: 0.3rem solid #04F8C7;
    border-radius: 1rem;
    margin: 0 2rem 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inferior {
    background-color: transparent;
    height: 50%; 
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 0 0;
}

.inferior-lista-tarefas {
    height: 100%;
    width: 60%;
    background-color: transparent;
    border: 0.3rem solid #8FE00D;
    border-radius: 1rem;
    margin: 0 1rem 0 2rem;
    overflow-y: auto; 
}

.inferior-lista-tarefas::-webkit-scrollbar {
    display: none; /* Chrome, Edge, Safari */
}

.inferior-graficos {
    height: 100%;
    width: 40%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.3rem solid #04F8C7;
    border-radius: 1rem;
    margin: 0 2rem 0 1rem;
}

.grafico {
    height: 100%;
    width: 80%;
}

.info {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.total-tarefas {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.total-tarefas h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.7rem;
    font-weight: 100;
    color: #ddd;
}

.total-tarefas h1 {
    color: #e05a0d;
    font-size: 5rem;
}

.atrasadas-tarefas {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.atrasadas-tarefas h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.7rem;
    font-weight: 100;
    color: #ddd;
}

.atrasadas-tarefas h1 {
    color: #e00d0d;
    font-size: 5rem;
}

.dentro-prazo-tarefas {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dentro-prazo-tarefas h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.7rem;
    font-weight: 100;
    color: #ddd;
}

.dentro-prazo-tarefas h1 {
    color: #deec1a;
    font-size: 5rem;
}

.concluidas-tarefas {
    height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.concluidas-tarefas h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.7rem;
    font-weight: 100;
    color: #ddd;
}

.concluidas-tarefas h1 {
    color: #8FE00D;
    font-size: 5rem;
}