@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-kanit: 'Kanit', sans-serif;
}

/* remove scrollbars no Chrome/Safari */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* remove scrollbars no Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

/* animação infinita */
@layer utilities {
  @keyframes infinite-scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-33.333%);
    }
  }

  .animate-infinite-scroll {
    animation: infinite-scroll 5s linear infinite;
  }
}

.scroll-mask {
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
  mask-image: linear-gradient(
    to right,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
}




/* 
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
} */

/* html {
    font-size: 62.5%; 
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #18e6b2, #217FEB);
    display: flex;
    place-items: center;
    position: absolute;
} */



